.addAgent {
  .sect {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 12px 15px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .hide {
    display: none;
  }
  .step1 {
  }
}
