.contactUs {
  // background-color: $secondaryColor;
  border-radius: 15px;
  .sect {
    border-style: solid;
    // background-color: $secondaryColor;
    background-color: $secondaryColor;
    padding: 20px;
    border-radius: 15px;
  }
}
