.preview {
  padding: 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  .content {
    h2 {
      font-size: large;
      font-weight: 300;
      padding: 10px;
    }
  }
}
