.statesWrapper {
  display: flex;
  flex-direction: row;

  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}

.lgaWrapper {
  display: flex;
  flex-direction: row;

  .comp {
    padding-left: 20vw;
    @include tabletSS {
      padding: 0;
      margin: 0;
    }
  }
}

.agentsWrapper {
  display: flex;
  flex-direction: row;

  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}
