@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "screensize";
@import "dashboard";
@import "layouts";
@import "typos";
@import "table";
@import "buttons";
@import "navbar";
@import "sidebar";
@import "markdown";
@import "post_page";
@import "posts";
@import "pharmacist";
@import "footer";
@import "books_list";
@import "footer";
@import "form";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.none {
  display: none;
}

.wrapper {
  // padding-left: 20px;
  display: flex;
  flex-direction: row;
  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    @include mobileSS {
      height: 55vh;
    }
  }
}

.specificLGA {
  padding-left: 20vw;
  @include mobileSS {
    padding-left: 0;
  }
}

.formsPage {
  padding-left: 20vw;
  @include mobileSS {
    padding-left: 0;
  }

  .h2 {
    font-weight: lighter;
    font-size: small;
  }
}

.red {
  color: rgb(195, 8, 8);
}

.green {
  color: rgb(6, 138, 23);
}

.icon {
  font-size: medium;
}
